{% extends 'base.html.twig' %}

{% block body %}

{# Div barre de recherche #}

<div class="barreRecherche">
    <input type="text" placeholder="entrez le nom d'un stream...">
    <button>rechercher</button>
</div>

{% endblock %}
