{# Page de mathieu #}


{% extends 'base.html.twig' %}

{% block body %}
<a href="" onclick="twitchAuth()">login</a>
<div class="containerHome">
    <div class="blocTopHome">
        <div class="blocTopLeftHome">

        </div>
        <div class="blocTopRightHome">

        </div>
    </div>
    <div class="blockBottomHome">
    
    </div>
</div>
{% endblock %}
